.p_title{
	color: blue;
	text-align: center;
}

.p_price{
	color: red;
}
.p_desc{

	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height:20px;


}
.p_img{

	width:210px; 
	height:200px; 
	text-align:center;
}
.shopnav{
	display: flex !important;
	float: right;

}
.order_detail{
    display: block;
    text-align: center;
    margin: 0 auto;
}