.form-group input{
    border:none
}
.form-container form{
    border-bottom: 1px solid black;
    justify-content: space-between;
}
.btn {
    background-color:white;
    color: black;
    border-color: white;
}
#search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search input[type=search]:hover {
	background-color: #fff;
}
#search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search input:-moz-placeholder {
	color: transparent;
}
#search input::-webkit-input-placeholder {
	color: transparent;
}

