html {
    height:100%;
    width:100%;
}
body {
    height:100%;
    width:100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.vl {
    border-left: 6px solid black;
    height: 100px;
}
.t_title{
  color: steelblue;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: Comic Sans MS;
}
.c-text{
  color: steelblue;
  font-size: 15px;
  padding-bottom:30px;
  padding-top: 20px;
}
.category{
  color: steelblue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#list{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
}
#a-title{
  padding-top: 10px;
  text-align: center;
  color: steelblue;
}
#c-title{
  padding-top: 65px;
}
label {
    color: #000;
}

.form-control {
    color: #000;
}

.form-container {
    
    display: block;
    border: 10px solid #c99947;
    padding: 15px 40px 30px 90px;
    margin-left: -80px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.form-container h1{
    text-align: center;
}
.form-container h4{
    text-align: center;
}

/* .border-content {
    content: '';
    border: 10px solid #c99947;
    padding: 40px;
    width: 527px;
    position: absolute;
    top: 0;
    height: 315px;
    margin-left: -71px;
    margin-top: 47px;
} */
.header-container{
    margin-top: 80px;
}
* {
    box-sizing: border-box;
  }
  
  .openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    padding: 19px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-top: 6px;
    padding-bottom: 11px;

  }
  
  .overlay button:hover {
    background: #bbb;
  }
.loginbox{
    width: 500px;
    margin: 0px auto;
    /* box-shadow: 0px 2px 8px rgba(0,0,0,0.2); */
    padding: 20px;
    text-align: center;
}

.login-body {
    margin-top:10%;
    height:100%;
    overflow: hidden;
    background-color:#b3c0e0;
}

.panel h2{ 
    color:#444444; 
    font-size:18px; 
    margin:0 0 8px 0;
}
.panel p { 
    color:#777777; 
    font-size:14px; 
    margin-bottom:30px; 
    line-height:24px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { 
    text-align: left; 
    margin-top:10px;
}
.back a {
    color: #444444; 
    font-size: 13px;
    text-decoration: none;
}
.footer{
    background-color: steelblue;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    /* border-bottom: 1px solid #fff; */
    border-bottom: 1px solid #fff;
    padding-bottom: 20px
    /* border-bottom:1px solid #fff; */
}
.footer-title h4 {
    color:white ;
}
.footer-widget h5 {
    color: #c99947;
    margin-top: 70px;
}
.footer-widget p {
    color: #f9fafc;
}
.footer-widget a {
    color: #f9fafc;
}
.copyright-container{
    background-color: #000;
}
.copyright-container h4{
    color:white ;
}
.copyright-container p{
    color:white ;
}